@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* font-family: 'Lato', sans-serif; */
*{
  font-family: 'Lato', sans-serif;   
  margin: 0;
}
.coming_page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.main_container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black !important;
    width: 100%;

}
.Main_heading{
  font-size: 3.5rem;
  margin: 1rem;
}
.timer_section{
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 50%;
  justify-content: space-evenly;
}
.day_container{
margin: 1.5rem;
}
.Time_container_day  {
  margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}
.Time_container_seconds{
    margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}
.Time_container_minutes{
     margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}
.day_container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Time_container_Hour {
    margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}
.Time_container_milli{
      margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}